body{
    background-color:antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: brown;
}
a:hover{
    color: rgb(99, 25, 25);
}
a:active{
    color: rgb(247, 65, 65);
}

@media screen and (max-width: 799px) {
    #tablazat{
        visibility: hidden;
    }
}
@media screen and (min-width: 800px) {
    #alert{
        visibility: hidden;
    }
}

.carousel-item {
    height: 400px;
    background-color: #3333338a;
    background-size: cover;
}

.carousel-item img {
    height: 400px;
    width: auto !important; /* Ne nyújtsa ki 100%-ra! */
    margin: 0 auto;         /* Középre rakja a képet */
    object-fit: contain;    /* Megtartja az arányokat, nem vág le belőle */
    
    /*árnyék*/
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}