table {
  border: 3px solid black;
  border-collapse: collapse; /* nem lesz dupla keret*/
}

td, th {
  border: 1px solid black;
  padding: 5px;
}
tr:hover{
    background-color: rgba(220, 83, 83, 0.185);
}